body {
    margin: 0px;
    background-color: rgb(66, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 150px;
    font-weight: bolder;
}

#table{
    width: 600px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#table div{
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}

#table div:hover{
    cursor: pointer;
}